.footer {
  width: 100%;
  padding: 50px 200px;
  gap: 50px;
  background-color: rgba(237, 237, 237, 0.8);
}

.project-subscribe {
  gap: 25px;
}

.sub-container {
  gap: 15px;
}

.project-subscribe p {
  font-size: 20px;
  font-weight: 600;
}

.project-subscribe input {
  width: 450px;
  padding: 0 48px;
  font-size: 16px;
  border: none;
  border-radius: 24px;
}

.project-subscribe button {
  font-size: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 24px;
  color: aliceblue;
  background-color: black;
}

.project-faq {
  width: 100%;
  justify-content: center;
  gap: 300px;
}

.faq-list {
  gap: 12px;
}

.faq-list p {
  font-size: 18px;
}

.faq-list ul {
  list-style: none;
  gap: 5px;
}

.project-address {
  justify-content: space-between;
}

.project-address p {
  font-size: 14px;
}
