.events {
    width: 1200px;
    gap: 25px;
  }
  
  .events-list {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 50px;
    gap: 20px;
  }
  
  .event-container {
    max-width: 300px;
    margin: 15px 25px;
    gap: 10px;
  }
  
  .event-container img {
    background-color: aqua;
    border-radius: 24px;
  }